body {
    font-family: 'Poppins', sans-serif;
}

.hero-area {
    background-color: #F0FFF0;
}

.hero-area, .categories-area {
    margin-bottom: 42px;
}

.courses-area, .testimonials-area {
    margin-top: 100px;
    margin-bottom: 42px;
}

.navbar-collapse {
    justify-content: end;
}

.nav-link {
    padding-right: 25px !important;
    padding-left: 25px !important;
}

.sign-button {
    background-color: #21B573;
    color:#FFFFFF;
    border-radius: 25px;
    padding: 8px 28px;
    border: none;
}

.hero-content-container {
    padding: 63px 0px 63px 0px;
}

.heading-top {
    color: #FD511A;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.hero-content h1 {
    color: #000;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
}

.any-schedule {
    color: #21B573;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
}

.heading-bottom {
    color: #6C6B6B;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
}

.card-items img {
    width: 66px;
    height: 85px;
}

.card-items {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.card-title {
    color: #413960;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.card-text {
    color: #585859;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card-items img {
    margin-bottom: 10px;
}

.card-background {
    border-radius: 10px;
    background: #F8FFFB;
    border: none;
    transition: box-shadow 0.3s ease-in-out;
}

.card-background:hover {
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.10);
}

.course-main-image {
    padding: 16px 16px 0px 16px;
}

.courses-heading h2 {
    text-align: center;
    margin-bottom: 50px;
    color: #413960;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.buy-course-button {
    display: inline-flex;
    padding: 8px 28px;
    align-items: center;
    gap: 10px;
    border-radius: 33px;
    background: #21B573;
    border: none;
    color: #FFF;
}


.course-icons img {
    width: 24px;
    height: 24px;
    float: left;
    margin-right: 6px;
}

.course-icons p {
    color: #585859;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.card-footer {
    border-top: none;
    margin-top: 14px;
}

.course-card-background {
    border: none;
    border-radius: 18px;
    background: #FFF;
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.10);
}



.testimonials-heading h2 {
    text-align: center;
    margin-bottom: 50px;
    color: #000;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.testimonials-content img {
    width: 120px;
    height: 120px;
    margin-right: 50px;
}

.testimonials-content p {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}