body {
    font-family: 'Poppins', sans-serif;
}

.hero-area {
    background-color: #F0FFF0;
    margin-bottom: 42px;
}

.navbar-collapse {
    justify-content: end;
}

.nav-link {
    padding-right: 25px !important;
    padding-left: 25px !important;
}

.sign-button {
    background-color: #21B573;
    color:#FFFFFF;
    border-radius: 25px;
    padding: 8px 28px;
    border: none;
}

.hero-content-container {
    padding: 63px 0px 63px 0px;
}

.heading-top {
    color: #FD511A;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.hero-content h1 {
    color: #000;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
}

.any-schedule {
    color: #21B573;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
}

.heading-bottom {
    color: #6C6B6B;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
}

.card img {
    width: 66px;
    height: 85px;
}

.card-items {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.card-title {
    color: #413960;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.card-text {
    color: #585859;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card-items img {
    margin-bottom: 10px;
}

.card {
    border-radius: 10px;
    background: #F8FFFB;
    border: none;
    transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.10);
}